{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Auction Management</a>
</nav>
<div class="container" style="margin-top: 20px !important;">
  <div class="row">
      <div class="input-group col-md-6">
            {% for atype in auction_types %}
            <div class="form-check form-check-inline">
              <input class="auction-type-option" style="margin-bottom: 8px; margin-right: 4px; " {% if atype.2 %}checked="checked"{% endif %} type="radio" name="atype_option" id="id_atype_{{ atype.0 }}" value="{{ atype.0 }}">
              <label class="auction-type-option" for="id_atype_{{ atype.0 }}">{{ atype.1 }}</label>
            </div>
            {% endfor %}
      </div>
      <div class="input-group col-md-6">
            <input type="text" name="auction-eval-keyword" required="required" placeholder="Search keyword..." class="form-control" style="margin-right: 10px;"/>
            <button type="button" class="auction-evaluate btn btn-primary">Evaluate</button>
            <button type="button" data-toggle="modal" data-target="#auctionAddModal" class="auction-add btn btn-success pull-right" style="margin-left: 10px; float: right;">Add Auction</button>
      </div>
  </div>
  <br/>
  <div class="row">
     <div class="col-md-12">
         <table class="table bids-table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Bidder Name</th>
              <th scope="col">Bid Amount</th>
              <th scope="col">Bid Keyword</th>
            </tr>
          </thead>
          <tbody>
            {% for bid in bids %}
            <tr>
              <td>{{ bid.bidder.name }}</td>
              <td>{{ bid.bid_amount }}</td>
              <td>{{ bid.keyword }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
     </div>
  </div>
</div>
</body>
</html>


<style type="text/css">
    .margin-bottom-20 {
        margin-bottom: 20px;
    }
</style>
<!-- Modal -->
<div class="modal fade" id="auctionAddModal" tabindex="-1" role="dialog" aria-labelledby="auctionAddModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="auctionAddModalLabel">Auction Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body container">
            <div class="row">
                <div class="col-md-12" id="id_auction_info">
                    <input type="text" class="form-control margin-bottom-20" name="auction-bidder-name" placeholder="Bidder Name"/>
                    <input type="number" class="form-control margin-bottom-20" name="auction-bidder-weight" placeholder="Bidder Weight"/>
                    <input type="number" class="form-control margin-bottom-20" name="auction-bid-amount" placeholder="Bid Amount"/>
                    <select class="form-control margin-bottom-20" name="auction-bid-currency">
                        <option value="USD">
                            USD
                        </option>
                    </select>
                    <input type="text" class="form-control margin-bottom-20" name="auction-keyword" placeholder="Keyword"/>
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" data-url="ajax/auction-create/" class="btn btn-primary auction-submit">Submit Auction</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="idMessageModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<script>

    $(document).ready(function () {


        var call_ajax = function (type, url, data, success_callback, error_callback, complete_callback) {
        $.ajax({
            type: type,
            url: url,
            data: data,
            success: function (data) {
                {#var data = jQuery.parseJSON(data);#}
                if (typeof success_callback == "function") {
                    success_callback(data);
                }
            },
            error: function (jqxhr, status, error) {
                if (typeof error_callback == "function") {
                    error_callback(jqxhr, status, error);
                }
            }
        })
        .done(function (msg) {
            if (typeof complete_callback == "function") {
                complete_callback(msg);
            }
        });
    };

        function prepare_auction_submit_data() {
            var bidder_name = $("#id_auction_info").find("[name=auction-bidder-name]").val();
            var bidder_weight = $("#id_auction_info").find("[name=auction-bidder-weight]").val();
            var bid_amount = $("#id_auction_info").find("[name=auction-bid-amount]").val();
            var bid_currency = $("#id_auction_info").find("[name=auction-bid-currency]").val();
            var keyword = $("#id_auction_info").find("[name=auction-keyword]").val();
            var data = {
                bidder_name: bidder_name,
                bidder_weight: bidder_weight,
                bid_amount: bid_amount,
                bid_currency: bid_currency,
                keyword: keyword
            }
            return data;
        }

        function handle_auction_add(url, data, success_callback, error_callback) {
            var data = data;
            call_ajax("POST", url, data, success_callback, error_callback);
        }


        $(".auction-submit").click(function (e) {

            e.preventDefault();
            var url = $(this).data("url");
            var data = prepare_auction_submit_data();
            handle_auction_add("/ajax/auction-create", data, function (data) {
                if(data.code == 201) {

                    var bidder_name = $("#id_auction_info").find("[name=auction-bidder-name]").val();
                    var bid_amount = $("#id_auction_info").find("[name=auction-bid-amount]").val();
                    var keyword = $("#id_auction_info").find("[name=auction-keyword]").val();

                    var tr = "<tr>";
                    tr += "<td>" + bidder_name + "</td>";
                    tr += "<td>" + bid_amount + "</td>";
                    tr += "<td>" + keyword + "</td>";
                    tr += "<tr>";
                    $(".bids-table").find("tbody").append(tr);

                    $("#id_auction_info").find("[name=auction-bidder-name]").val("");
                    $("#id_auction_info").find("[name=auction-bidder-weight]").val("");
                    $("#id_auction_info").find("[name=auction-bid-amount]").val("");
                    $("#id_auction_info").find("[name=auction-keyword]").val("");

                }
            },
            function (error) {

            });
        });

        $(".auction-evaluate").click(function (e) {
            e.preventDefault();
            var keyword = $("[name=auction-eval-keyword]").val();
            var atype =  $(".auction-type-option").val();

            if(keyword == "") {
                $("[name=auction-eval-keyword]").focus();
                return false;
            }

            var url = "/ajax/evaluate-auction";
            var data = {
                keyword: keyword,
                atype: atype
            };
            call_ajax("GET", url, data, function (data) {
                if(data.status == "SUCCESS") {
                    $("#idMessageModal").find(".modal-title").html("Auction Result");
                    $("#idMessageModal").find(".modal-body").html(data.winner_name);
                    $("#idMessageModal").modal("show");
                }
                else {
                    if(data.message == "NO_DATA") {
                        $("#idMessageModal").find(".modal-title").html("Auction Result");
                        $("#idMessageModal").find(".modal-body").html("No matching winner found");
                        $("#idMessageModal").modal("show");
                    }
                    else {
                         $("#idMessageModal").find(".modal-title").html("Auction Result");
                         $("#idMessageModal").find(".modal-body").html("Failed to fetch winner");
                         $("#idMessageModal").modal("show");
                    }
                }
            }, function (error) {
                
            });
        });

    });
</script>